/* 公共样式 */
body {
    font-family: PingFangSC, PingFang SC;
}
.container {
    width: 980px;
    margin: 0 auto;
}
button {
    border-radius: 4px;
    border: 0px;
    background-color: rgba(67, 113, 240, 1);
    font-size: 14px;
    color: #FFFFFF;
}
button:hover {
    background-color: rgb(42, 99, 203);
}

/* 页面-logo */
#logo {
    width: 600px;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 40px;
}
#logo-img {
    display: block;
    margin: 0 auto;
}

/* 页面-首页 */
#user-info {
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#user-form {
    height: 42px;
}
#uid {
    width: 480px;
    height: 40px;
    border: 1px solid rgba(211, 212, 216, 1);
    border-right: 0px;
    padding: 0;
    border-radius: 8px 0px 0px 8px;
    font-size: 14px;
    text-indent: 8px;
    margin-left: 20px;
    float: left;
}
#uid::placeholder {
    color: #b3b3b3;
}
#user-info button {
    width: 80px;
    height: 42px;
    border-radius: 0px 8px 8px 0px;
    float: left;
}
#referance {
    width: 174px;
    height: 20px;
    font-size: 14px;
    color: rgba(67, 113, 240, 1);
    margin-top: 8px;
    margin-left: 28px;
}