/* 公共样式 */
body {
    font-family: PingFangSC, PingFang SC;
}
.container {
    width: 980px;
    margin: 0 auto;
}
button {
    border-radius: 4px;
    border: 0px;
    background-color: rgba(67, 113, 240, 1);
    font-size: 14px;
    color: #FFFFFF;
}
.button-hover:hover {
    background-color: rgb(42, 99, 203);
}

/* 歌单列表 */
#header {
    height: 56px;
    background: rgba(30, 39, 60);
    margin-bottom: 32px;
}
#topbar {
    height: 90px;
    border-bottom: 2px solid rgba(67, 113, 240, 1);
    margin-bottom: 40px;
    position: relative;
    display: none;
}
#topbar #select-all-checkbox {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #D3D4D8;
    position: absolute;
    top: 6px;
}
#topbar span {
    width: 134px;
    height: 32px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    line-height: 32px;
    text-align: justify;
    font-style: normal;
    white-space: nowrap;
    position: absolute;
    left: 36px;
}
#topbar button {
    width: 88px;
    height: 32px;
    line-height: 20px;
    font-style: normal;
    opacity: 0.45;
    position: absolute;
    right: 0px;
}
/* 歌单列表-内容 */
#playlist-content {
    display: none;
}
.playlist-item {
    width: 140px;
    margin-right: 70px;
    border-radius: 4px;
    float: left;
    position: relative;
    transition: transform,box-shadow;
    transition-duration: 240ms;
}
.playlist-item input {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #D3D4D8;
    position: absolute;
}
.playlist-item .cover-img {
    width: 140px;
    height: 140px;
    border-radius: 4px;
}
.playlist-item p {
    width: 140px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,0.65);
    line-height: 20px;
    text-align: justify;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}
.playlist-item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 1px 12px rgba(0,0,0,0.30);;
}
#playlist-content ul {
    margin-bottom: 40px;
}
#playlist-content ul li:nth-child(5) {
    margin-right: 0px;
}
/* 歌单列表-无数据 */
#playlist-nodata {
    display: none;
    width: 162px;
    height: 188px;
    background-image: url(/img/nodata.svg);
    margin: 0 auto;
    margin-top: 240px;;
}

/* 歌单列表-点击导出 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); /* 半透明的黑色 */
    z-index: 999; /* 确保遮罩层在顶部 */
}
/* 点击歌单弹窗 */
#pop-up-export {
    display: none;
    width: 560px;
    height: 240px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    z-index: 1000;
}
#pop-up-export-title {
    width: 512px;
    height: 36px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(211, 212, 216, 1);
}
#pop-up-export-title span {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    line-height: 20px;
    font-style: normal;
}
#export-form {
    width: 512px;
    height: 135px;
    margin-left: 24px;
    position: relative;
}
#export-form span {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    line-height: 20px;
    font-style: normal;
    margin-right: 10px;
}
#export-form input {
    width: 400px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #D3D4D8;
    font-weight: 400;
    font-size: 14px;
    text-indent: 8px;
    color: rgba(0, 0, 0, 1);
    line-height: 20px;
    font-style: normal;
}
#export-form #export-confirm {
    width: 76px;
    height: 32px;
    opacity: 0.45;
    position: absolute;
    bottom: 0px;
    right: 88px;
}
#export-form #export-cancle {
    width: 76px;
    height: 32px;
    background: #FFFFFF;
    color: #000000;
    border-radius: 4px;
    border: 1px solid #D3D4D8;
    position: absolute;
    bottom: 0px;
    right: 0px;
}